@import "tailwindcss";

@layer base {
  :root {
    --main-black: #1B1A1A;
    --main-white: #FFFFFF;
    --main-gray: #403E3B;

    --secondary-gray: #645C55;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1B1A1A;
}

button, label {
  cursor: pointer;
}

body {
  color: #645C55;
}

img, button {
  user-select: none;
}